* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.top {
    background-color: #cccccc;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.top input {
    width: 390px;
    height: 22px;
    font-size: 20px;
    border: 3px solid #181818;
    padding: 5px 10px;
}
.btn {
    border: 3px solid #010101;
    cursor: pointer;
    box-shadow: 4px 4px black;
}
.login {
    background-color: #2b78e4;
    color: #d8e6fa;
    width: 85px;
    height: 35px;
    font-size: 20px;
    margin-right: 10px;
}
.container-body {
    display: flex;
}
.flex-2 {
    flex: 2;
}
.flex-1 {
    flex: 1;
    margin-left: 30px;
}
.box {
    border: 3px solid #060606;
    background-color: #fff;
    padding: 25px;
    margin-bottom: 30px;
}
.definition {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    flex: 1;
    text-align: center;
    margin-right: 20px;

}
.right {
    flex: 3;
    font-size: 25px;
}
.left p {
    margin: 10px 0;
    font-size: 20px;
}
.left h2 {
    font-size: 45px;
}
.likes {
    font-size: 18px;
    background-color: #ffd966;
    padding: 5px;
    width: 110px;
    height: 40px;
    margin-top: 10px;
}
a {
    color: #2467a0;
}
.box h4 {
    font-size: 30px;
}
.box h4 b {
    font-size: 35px;
}
.add-definition {
    margin-top: 30px;
    width: 245px;
    height: 30px;
    font-size: 23px;
    background-color: #93c47d;
    padding: 5px 5px 5px 5px;
    text-align: center;
}